#sessao_contato {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 100px 20px;
    background-color: #05031b;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.elementos_contato {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.elementos_midia {
    display: flex;
    padding: 15px;
    flex-direction: column;
}

.titulo_conosco {
    font-size: 20px;
    margin-bottom: 20px;
}

.item_midia {
    display: flex;
    margin: 5px;
    font-size: 14px;
    
}

.item_midia img {
    width: 18px;
    margin-right: 14px;
}

.sessao_texto_conosco {
    font-size: 22px;
}

@media (max-width: 768px) {
    #sessao_contato {
        padding: 60px 20px;
    }
}

@media (max-width: 768px) {
    #sessao_contato {
        padding: 0px 10px;
    }

    .elementos_contato {
        flex-direction: column;
    }

    .elementos_midia {
        align-items: center;
    }

    .sessao_texto_conosco {
        padding-top: 10px;
        margin-top: 10px;
    }

    .sessao_texto_conosco h3 {
        font-size: 20px;
    }

    .sessao_texto_conosco p {
        font-size: 14px;
    }

}