header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.container-topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.img-logo {
    height: auto;
    width: 200px;
}

.links a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    margin: 0 15px;
}

.links a:hover {
    color: #0000CD;
}

@media (max-width: 550px) {
    .container-topo {
        flex-direction: column;
    }

    .links{
        margin: 20px 0px;
        border-top: 2px solid #aaadaf;
    }

    .img-logo {
        margin-top: 20px;
    }
}